p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .profile {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 15px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 4px;
  }
  
  .mutual-friends {
    color: rgb(100, 100, 100);
    margin-left: 8px;
    margin-bottom: 12px;
  }
  
  .add-friend-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
  }



  div {
    text-align: center;
  }
  
  img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
  }
  
  .google-button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .search-button {
    margin-right: 10px;
  }