* {
    margin: 0px;
}
.container .image img {
    width: 100%;
    height: 200px;
}
header {
    position: sticky;
    top: 0px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding: 0 10px;
}
  header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
  }
  header nav ul li {
    font-weight: bold;
    margin: 0px 10px;
   
  }
  header .btn button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 8px 10px;
  }
  .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main .sidebar{
    height: 100%;
    width: 200px;
    position: relative;
  }
   .main .sidebar p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
  }  
  .main .cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: green;
    width: 80%;
    flex-wrap: wrap;
  }
  .main .card{
    width: 200px;
    height: 200px;
    background-color:violet;
    margin: 10px;

  }
  
  footer {
    margin-top: 8px;
    position: relative;
    height: 100px;
    background-color: black;
  }
  footer p {
    position: absolute;
    left: 50%;
    top: 50%;
    color:white;
  }
  @media (max-width: 768px){
    header{flex-direction: column;}
    header .btn{margin-top: 10px;margin-bottom: 10px;}

  }
  